$breakpoint-1900: '(min-width: 1900px)';
$breakpoint-1600: '(min-width: 1600px)';
$breakpoint-1440: '(min-width: 1440px)';
$breakpoint-1366: '(min-width: 1366px)';
$breakpoint-1280: '(min-width: 1280px)';
$breakpoint-1024: '(min-width: 1024px)';
$breakpoint-768: '(min-width: 768px)';
$breakpoint-425: '(min-width: 425px)';
$breakpoint-375: '(min-width: 375px)';

$color-light-grey: #CECFDB;
$color-dark-grey: #8C8EA5;
$color-light-black: #0F1B27;

$font-weight-medium: 500;
$font-weight-bold: 700;