.header {
    position: absolute;
    top: 0;
    right: clampy(20px, 72px);
    padding: clampy(12px, 24px) 0;
    z-index: 4;

    &__nav {
        display: flex;
        align-items: center;
    }

    &__link {
        margin-right: clampy(10px, 45px, 475px);
        font-size: clampy(12px, 40px, 475px);
        line-height: 1.4;
        text-decoration: none;
        color: $color-light-grey;
        letter-spacing: -0.049em;
        transition: opacity .3s;

        &:hover {
            opacity: 0.8;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}