header.header 
    nav.header__nav
        a.header__link(href="#") Главная страница
        a.header__link(href="#") Автор
        a.header__link(href="#") Кабинет инвестора
        a.header__link(href="#") RU