section.section 
    .container
        .steps 
            .steps__item 
                img(src="img/sprites/sprite.svg#promo_1", alt="" width="240" height="224").steps__item-pic
                p.steps__item-text Аэродинамические щиты избавляют возвращающуюся лопатку от сопротивления
            .steps__item 
                img(src="img/sprites/sprite.svg#promo_2", alt="" width="240" height="224").steps__item-pic
                p.steps__item-text Здания концентрируют воздушный поток
            .steps__item 
                img(src="img/sprites/sprite.svg#promo_3", alt="" width="240" height="224").steps__item-pic
                p.steps__item-text На статичной оси расположены независимые модули