.tech-preview {
    margin-bottom: 30px;

    @media #{$breakpoint-1440} {
        margin-bottom: 95px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__pics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }

    &__pic {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }

        &._first {
            transform: translateY(-5px) translateX(30px);
            width: clampy(80px, 328px, 320px, 1600px);

            @media #{$breakpoint-1024} {
                transform: translateY(-8px) translateX(30px);
            }

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                background: url("/energy/dist/img/sprites/sprite.svg#hexagon_big");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: clampy(130px, 412px, 320px, 1600px);
                height: clampy(130px, 412px, 320px, 1600px);
            }

            &:before {
                content: '';
                position: absolute;
                width: 840px;
                height: 2px;
                top: 50%;
                left: calc(100% + 18px);
                background: url("/energy/dist/img/sprites/sprite.svg#dashed-line");
                background-repeat: no-repeat;
                background-position: center;
                background-size: clampy(500px, 1000px, 320px, 1600px);
                background-position: left center;
            }
        }

        &._second {
            width: clampy(100px, 266px, 320px, 1600px);
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
        margin: 0 auto;
    }

    &__name {
        margin-top: 35px;
        font-weight: $font-weight-bold;
        font-size: clampy(14px, 48px, 320px, 1600px);
        line-height: 1.3;
        letter-spacing: -0.05em;
        color: $color-light-grey;
        text-align: center;
        margin-right: 20px;

        &._left {
            text-align: left;
        }

        &._right {
            text-align: right;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.tech-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    margin: 0 auto;

    @media #{$breakpoint-768} {
        width: 496px;
    }


    &__btn {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        width: 155px;
        height: 155px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__line {
        height: 12px;
        width: 100%;
        background: $color-light-black;
        border-radius: 4px;
    }
}