extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header
	main
		include ../blocks/modules/welcome/welcome
		include ../blocks/modules/tech/tech
		include ../blocks/modules/steps/steps

block scripts
	script(src="js/main.js" defer)