.news-card {
    border: 1px solid $color-light-grey;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;

    @media #{$breakpoint-768} {
        min-height: 570px;
    }

    @media #{$breakpoint-1600} {
        min-height: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
        padding: 10px clampy(10px, 24px, 320px, 1280px);

        &-pic {
            width: 60px;
            height: 60px;
            width: clampy(60px, 72px, 320px, 1440px);
            height: clampy(60px, 72px, 320px, 1440px);
            flex-shrink: 0;
            margin-right: 8px;
        }

        &-name {
            width: clampy(100px, 127px, 320px, 1440px);
            height: clampy(30px, 40px, 320px, 1440px);
        }
    }

    &__preview {
        position: relative;

        &-pic {
            img {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }

        &-label {
            position: absolute;
            top: clampy(18px, 24px, 1280px);
            left: clampy(18px, 24px, 1280px);
            background: rgba(0, 0, 2, 0.16);
            backdrop-filter: blur(8px);
            border-radius: 4px;
            padding: 8px 12px;
            font-size: clampy(20px, 40px, 1280px);
            line-height: 1.3;
            letter-spacing: -0.05em;
            color: $color-light-grey;
        }
    }

    &__title {
        padding: clampy(16px, 24px, 1280px);
        font-weight: $font-weight-bold;
        font-size: clampy(24px, 48px, 1280px);
        line-height: 1.3;
        letter-spacing: -0.05em;
        color: $color-light-grey;
        min-height: clampy(150px, 200px, 1280px);
    }

    &__bottom {
        margin-top: auto;
        padding: 0 clampy(18px, 24px, 1280px);

        &-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: clampy(12px, 24px, 1280px) 0;
            border-bottom: 2px solid rgba($color-dark-grey, 0.48);

            &:last-child {
                margin-bottom: 0;
            }

            &-divider {
                height: clampy(30px, 48px, 320px, 375px);
                width: 2px;
                background-color: $color-dark-grey;
                opacity: 0.48;
            }
        }

        &-link {
            font-size: clampy(18px, 22px, 768px);
            line-height: 1.2;
            letter-spacing: -0.05em;
            color: $color-light-grey;
            text-decoration: none;

            @media #{$breakpoint-768} {
                font-size: clampy(22px, 40px, 1280px);
            }
        }
    }

    &__stat {
        display: flex;
        align-items: center;
        margin-right: clampy(12px, 24px, 320px, 375px);

        &-icon {
            width: clampy(28px, 40px);
            height: clampy(28px, 40px);
            margin-right: clampy(4px, 8px, 320px, 375px);
        }

        &-value {
            font-size: clampy(16px, 22px, 320px, 375px);
            line-height: 1.3;
            letter-spacing: -0.05em;
            color: $color-light-grey;

            @media #{$breakpoint-375} {
                font-size: clampy(22px, 40px, 1280px);
            }
        }
    }

    &__read {
        font-weight: $font-weight-bold;
        font-size: clampy(22px, 48px, 1280px);
        line-height: 1.3;
        letter-spacing: -0.05em;
        color: $color-light-grey;
        margin-left: auto;
        text-decoration: none;
        flex-shrink: 0;

        @media #{$breakpoint-375} {}

        @media #{$breakpoint-1280} {}

        @media #{$breakpoint-1600} {}
    }
}