.soc {
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: clampy(20px, 40px);
        transition: opacity .3s;

        &:hover {
            opacity: 0.7;
        }

        &-icon {
            width: clampy(40px, 80px);
            height: clampy(40px, 80px);
        }
    }
}