.welcome {
    position: relative;
    margin-bottom: clampy(60px, 176px);
    overflow: hidden;

    &__decor {

        &-shadow {
            position: absolute;
            width: 100vw;
            top: 0;
            bottom: 0;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            z-index: 3;
            background: linear-gradient(90deg, #0F1B27 0%, rgba(15, 27, 39, 0) 100%);

            &:before {
                content: '';
                position: absolute;
                z-index: 3;
                left: 0;
                right: 0;
                bottom: 0;
                height: 386px;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                bottom: 0;
                width: 358px;
                background: linear-gradient(270deg, rgba(15, 27, 39, 0.72) 0%, rgba(15, 27, 39, 0) 100%);
            }
        }

        &-pic {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            transition: opacity .45s, visibility .45s;
            visibility: hidden;
            opacity: 0;
            text-align: right;
            width: 100vw;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            text-align: right;

            &._visible {
                opacity: 1;
                visibility: visible;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: calc(100% + 100px);

                @media #{$breakpoint-768} {
                    object-position: right;
                }
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        z-index: 3;

        @media #{$breakpoint-1024} {
            flex-direction: row;
        }
    }

    &__news {
        position: relative;
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        flex-shrink: 0;
        z-index: 4;

        @media #{$breakpoint-1024} {
            max-width: 537px;
            min-width: 380px;
            width: 31%;
        }
    }

    &__main {
        flex-grow: 1;
        padding: clampy(60px, 120px) 0 0 0;
        display: flex;
        flex-direction: column;
        position: relative;

        @media #{$breakpoint-1024} {
            padding: clampy(90px, 120px, 768px, 1280px) 0 0 clampy(30px, 62px, 768px, 1280px);
            position: static;
        }

        &-inner {
            position: relative;
            z-index: 4;
            margin-bottom: 30px;

            @media #{$breakpoint-1024} {
                margin-bottom: 0;
            }
        }

        &-content {
            margin-bottom: clampy(50px, 114px);
            padding-right: clampy(55px, 100px, 320px, 768px);

            @media #{$breakpoint-768} {
                max-width: 826px;
            }
        }

        &-bottom {
            margin-top: auto;
        }

        &-social {
            position: absolute;
            right: 0;
            top: clampy(100px, 216px);
        }
    }

    &__title {
        font-weight: $font-weight-bold;
        font-size: clampy(50px, 72px);
        line-height: 1.2;
        display: flex;
        align-items: center;
        letter-spacing: -0.043em;
        color: $color-light-grey;
        margin-bottom: 16px;
    }

    &__subtitle {
        font-weight: $font-weight-medium;
        font-size: clampy(32px, 56px);
        line-height: 1.3;
        letter-spacing: -0.043em;
        color: $color-light-grey;
        margin-bottom: clampy(20px, 40px);
    }

    &__note {
        padding-top: clampy(20px, 40px);
        border-top: 1px solid $color-light-grey;
        font-weight: $font-weight-bold;
        font-size: 24px;
        font-size: clampy(24px, 48px);
        line-height: 1.3;
        letter-spacing: -0.045em;
        color: $color-light-grey;
    }
}